{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
      User: {{ request.user }}
      Foo value: {{ foo_value }}
      <div class="row">
        <div class="col-6">
                    <div class="card">
                    <div class="card-header">
                        Registration form
                    </div>
                    <div class="card-body">
                    <form method='post' action='{{ register_url }}'>
                        {% csrf_token %}
                        {{ host_form.media }}
                        {{ host_form|crispy }}
                        <div class="d-grid gap-2">
                          <button type="submit" {% if donate_disabled %} disabled {% endif %} class="btn btn-primary">Donate</button>
                        </div>
                    </form>
                    </div>
                    </div>
        </div>
        <div class="col-6">
          <div class="container">
            <div class="row">
              <div class="col">
              <div class="card">
                <div class="card-header">
                    Search
                </div>
                  <ul class="list-group list-group-flush">

                  {% for row in data %}
                      <li class="list-group-item">
                        {{ row.name }}
                          ({% for hobby in row.hobbies.all %} {{ hobby }} {% endfor %})
                          {{ row.place.name }}({{ row.place.lat }}, {{ row.place.long }}) max_bill is {{ row.max_guest_bill }}

                      </li>
                  {% endfor %}

                      <li class="list-group-item">
                          ...
                      </li>
                  </ul>
                  <div class="card-footer">
                    <form method='post' action='{{ find_url }}'>
                        {% csrf_token %}
                        {{ guest_form|crispy }}
                        <div class="d-grid gap-2">
                          <button {% if not request_enabled %} disabled {% endif %} type="submit" class="btn btn-primary">Request</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

{% endblock %}